/* h1 {
    margin: auto 300px ;
    padding: 20px;
    text-align: center;
    text-decoration: underline;
} */

h2 {
    text-decoration: underline;
    color: rgb(16, 214, 16);
  }

h3 {
    color: rgb(139, 8, 139);
}
  
h4 {
    color: skyblue;
  }
  